/* sidebar.css */
/* サイドメニュー全体 */
.side-menu {
   position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: rgba(73, 45, 4, 0.85);
  padding-top: 40px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  z-index: 100;

  /* アニメーション追加 ↓ */
  animation: slideInLeft 0.8s ease-out both;
  
}

/* メニューリスト全体 */
.side-menu ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  
  
}

/* 各リスト項目 */
.side-menu li {
  margin: 15px 0;
  margin-left: 5px;
  
}

/* 通常リンク */
.side-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  display: block;
  transition: color 0.3s;
}

/* ホバー時 */
.side-menu > nav > ul > li >a:hover {
  color: #db9406;
  border-bottom: #db9406 solid;
}

/* 現在ページ */
.side-menu a.active {
  color: #ffeac1;
  border-bottom: #ffeac1 solid;
}

/* 枝分かれメニュー（ページ内リンク） */
.side-menu .submenu {
  padding-left: 2em;
  margin-top: 10px;
}

.main content {
  margin-left: 220px; /* サイドメニューの幅＋余白 */
  padding: 40px;
}

.side-menu > nav > ul > li > a {
  font-size: 20px; /* ← ジャンル名を大きく */
  padding: 5px 0px 5px 0px;
  border-bottom: 2px solid #ffffffaa;
  padding-bottom: 4px;
  display: inline-block;
  
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s ease-out forwards;
}

.side-menu .submenu a {
  font-size: 16px;
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
 
}

/* 下線のアニメーションを作る */
.side-menu .submenu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 0;
  background-color: #421e01;
  transition: width 0.3s ease;
}

/* ホバー時に下線が伸びる */
.side-menu .submenu a:hover::after {
  width: 100%;
}


.menu-icon {
  width: 30px;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 0.5em;
  filter: drop-shadow(0 0 2px #000); /* 黒背景でも見やすく */
}



@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.side-menu .submenu a {
 opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s ease-out forwards;
}